# Application Configuration
PORT=3000
AUTH_GRPC_URL=0.0.0.0:50052

# Database Configuration
DATABASE_URL=postgres://postgres:postgres@auth-postgres:5432/auth_db
POSTGRES_DB=auth_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=55432

# Redis Configuration
REDIS_HOST=auth-redis
REDIS_PORT=6379
REDIS_PORT_HOST=56379

# Security & External Services
JWT_SECRET=dev_jwt_secret_key_12345
PROFILE_SERVICE_URL=host.docker.internal:50051
