# Authentication Configuration
JWT_SECRET=

# External Microservices
USER_SERVICE_URL=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=

# Application Ports
PORT=
AUTH_GRPC_URL=

# Database Configuration
DATABASE_URL=
