apiVersion: v1
kind: Secret
metadata:
  name: argocd-private-repo-creds
  namespace: argocd
  labels:
    # Label bắt buộc để ArgoCD nhận diện cấu hình repo credentials
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  # Thay đổi link này thành địa chỉ GitOps repository của bạn/team của bạn
  url: https://github.com/kidp2h/gitops-kafka.git
  # Điền username của bạn
  username: <YOUR_GIT_USERNAME>
  # Điền Personal Access Token (PAT) của bạn vào đây
  password: <YOUR_PERSONAL_ACCESS_TOKEN>
